
{% include "admin_user/headertags.html" %}

{% load static %}
<link href="{% static 'admin_user/css/gradient.css' %}" rel="stylesheet">
<div class="wrapper grass-bg">
    <!-- Sidebar -->
    {% include "admin_user/menu_side.html" %}


    <!-- Page Content -->
    <div id="content" class="bg-form-page">
        <!-- Navbar -->
        {% include "admin_user/menu_top.html" %}


<table class="table table-sm align-middle mb-0 w-75 mx-auto chemical-remport-table">
    <thead class="bg-light fs-5 box-bg report-table-title">
    <tr>
        <th>
            <h2>Chemicals List</h2>
        </th>
        <th>
        
        </th>
   
    <th colspan="2">
        <a class="btn btn-warning mb-2 text-left" href="{% url 'fertilizer_add' %}">Add New Chemical</a>
    </th>
    </tr>
    <tr>
        <th>ID</th>
        <th>Chemical Name</th>
        <th>Type</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody class="report-table-body">
    {% for fert in fertilizers %}
    <tr>
        <td>{{ fert.0 }}</td>
        <td>{{ fert.1 }}</td>
        <td>{{ fert.2 }}</td>

        <td>
            <a class="btn box-bg text-white" href="{% url 'fertilizer_edit' fert.0 %}">Edit</a> 
            <!-- <a class="btn btn-danger" href="{% url 'fertilizer_delete' fert.0 %}" onclick="return confirm('Are you sure you want to delete this fertilizer?')">Delete</a> -->
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>


{% include "admin_user/footertags.html" %}




